* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eef2f3;
   
    background: linear-gradient(to left, #eef2f3 0%, #ffffff 100%);
    
    background-image: url("logo-original.png");
    padding: auto;
    height: 100vh;           
    display: flex;           
    justify-content: flex-end; 
    align-items: center;     
    padding-right: 10%;      
}

.login-container {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
}


.logo {
    display: block;
    max-width: 120px; 
    margin: 0 auto 20px auto; 
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
    
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 500;
    font-size: 14px;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    transition: border-color 0.3s ease;
    outline: none;
}

input:focus {
    border-color: #004aad; 
    outline: none;
}


.form-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 13px;
}

.form-links a {
    text-decoration: none;
    color: #004aad;
    transition: color 0.3s;
}

.form-links a:hover {
    color: #002a60;
    text-decoration: underline;
}


.form-buttons {
    display: flex;
    gap: 10px; 
}

.btn {
    flex: 1; 
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
}

.btn-primary {
    background-color: #004aad; 
    color: white;
}

.btn-primary:hover {
    background-color: #003380;
}

.btn-secondary {
    background-color: #f1f1f1;
    color: #333;
}

.btn-secondary:hover {
    background-color: #e2e2e2;
}


@media (max-width: 768px) {
    body {
        justify-content: center; 
        padding-right: 0;
        padding: 20px;
    }
}

.Ingresar {
    color: #ccc;
}